.header {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
button {
	border: thin solid #ddd;
	background-color: #fbfbfb;
	padding: 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
}
.collection {
	margin: 1rem;
}

.info {
	display: inline-block;
	margin-left: 12px;
}
.title {
	font-size: 1.25rem;
	font-weight: bold;
}
.card {
	border: thin solid #ddd;
	background-color: #fbfbfb;
	padding: 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
}
.word {
	font-size: 1.25rem;
	font-weight: bold;
}
.definition {
	font-size: 1.25rem;
	font-weight: bold;
}
